h1{
    font-family: 'Bellefair', serif;
    font-size: 2.0em;
    color: #6e6e6e;
    line-height: 1.3em;
    margin-bottom: 1em;
}
.intro{
    font-family: 'Bellefair', serif;
    font-size: 1.4em;
    line-height: 1em;
    color: #6e6e6e;
    line-height: 1.3em;
    margin-bottom: 1em;
    text-align: left;
}
div .btnClass{
    text-align: center;
    margin-top: 2em;
}
header{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
body{
    color: #575757;
}
.button {
    background: #e6dac3;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    padding: 0.9em 2.5em 0.65em 2.5em;
    font-size: 0.9em;
}
nav{
    text-align: center;
    text-transform: uppercase;
}
nav a:hover {
    text-decoration: none;
    color: #6e6e6e;
}
a {
    color: #3b3b3b;
    text-decoration: none;
}
a:hover {
    color: #6e6e6e;
}
main{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
}
.centred {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: left;
}
#heroimg{
    max-width: 1024px;
    width: 100%;
    /* margin-bottom: 2em; */
    text-align: left;
}
@media screen and (min-width: 768px){

    #mainMenu {
        display: block !important;
    }
}
ul{
    box-sizing: border-box;
}   
nav ul {
    margin: 0 0 2px 2px;
}
nav ul li {
    display: inline-block;
    font-family: 'Bellefair', serif;
}
nav li {
    padding: 0 1.8% 0 1.8%;
    margin: 0;
}
nav {
    width: 100%;
    font-size: 0.95em;
    line-height: 3.3em;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    text-align: center;
    margin-bottom: 1em;
}

#logo {
    margin: 2em 0 0.5em 0;
    text-align: center;
}

/* middle part */
section {
    margin-bottom: 4em;
    display: block;
}
section > h2{
    text-align: center;
}
#products {
    overflow: hidden;
    margin-top: 2em;
}
#products div.product {
    width: 28%;
    margin-right: 5%;
    /* margin-bottom: 2em; */
    float: left;
    text-align: center;
}
#products div.product h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;

}
#products div.product p.description {
    font-size: 0.95em;
}
p.description{
    text-align: left;
}
#products div.product img {
    width: 100%;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
}
.enquirybtn{
    text-align: center;
}
.button {
    background: #e6dac3;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    padding: 0.9em 2.5em 0.65em 2.5em;
}

.col {
    width: 46%;
    white-space: normal;
    margin-right: 4%;
    display: inline-block;
    vertical-align: top;
}
.col-2 {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 2em;
}
div.col img {
    width: 100%;
}
div.img2 img {
    height: 273px;;
}
/* blockquote part */
blockquote {
    font-family: 'Shadows Into Light Two', cursive;
    /* font-size: 1.2em; */
    overflow: auto;
    margin: 2em 0 0 0;
    background: #f4f1ec;
    padding: 1.75em 0;
}
blockquote p.main {
    color: #4A4A4A;
    margin: 0;
    font-size: 1em;
    font-family: 'Shadows Into Light Two', cursive;
}
blockquote p.client {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    margin: 0.5em 0 0 0;
}
p {
    line-height: 1.75em;
    margin: 0.25em 0 2em 0;
    font-size: 0.95em;
}

/* footer part */
footer {
    padding: 7em 0 4em 0;
    display: block;
}
footer .footerContent {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
footer #socialMedia {
    margin: 1em 0 1.5em 0;
    text-align: center;
}
footer #logoSmall img {
    width: 290px;
    margin: 0 0 1em 0;
}
footer #socialMedia img {
    width: 20px;
    margin: 0 0.25em;
}

footer ul {
    font-size: 1.2em;
    color: #3b3b3b;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    margin: 2em 0 1.5em 0;
}
footer ul li {
    display: inline-block;
    padding: 0 1.8% 0.75em 0;
}

@media only screen and (max-width: 760px) {
    nav ul li{
        /* border-bottom: 0px solid rgb(158,194, 143); */
        display: block;
    }
    nav{
        border-bottom: 1px solid rgb(158,194, 143);
    }
    .product{
        width: 50%;
    }
    #products .product{
        float: none;
        width: 100%;
    }
    footer .item {
        float: none;
        display: block;
    }
    footer ul{
        padding: 0%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .col {
        width: 100%;
    }
    .col-2 .col{
        float: left;
        width: 100%;
        overflow:auto;
    }
    #products div.product{
        float: left;
        width: 100%;
        overflow:auto;
    }
    #logo img{
        width: 100%;
    }


  }